@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 125px;
    background-color: #D9D9D9;
    font-family: "Lato", sans-serif;
    width: 100%;
}

/* HEADER */
.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    top: 0;
    z-index: 1000;
    padding: 0 1rem;
}

main{
    flex: 1;
}

.img-senai {
    width: 120px;
    height: auto;
}

.navigation nav {
    display: flex;
    gap: 12px;
}

.navigation a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
}

.linha-embaixo {
    display: inline-block;
    border-bottom: 2px solid #303030;
}

/* CONTEÚDO */
.container-principal {
    text-align: center;
    padding: 1rem;
}

h1 {
    font-size: 3.5rem;
    font-family: "Lato", sans-serif;
    text-align: center;
}

/* REFERÊNCIAS */
.container-ref {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    max-width: 800px;
    background-color: #F3F3F3;
    border-radius: 20px;
    text-align: left;
    margin: 1rem auto;
    padding: 1rem;
    box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

.container-ref ul {
    font-size: 1.2rem;
    list-style: disc inside;
}

/* FOOTER */
.contatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.3rem;
    text-align: center;
    padding: 1.1rem;
    background-color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    flex: 1;
}

.contatos i {
    font-size: 30px;
    color: #0066cc;
}

.contatos i:hover {
    font-size: 32px;
    color: #0052a5;
    transition: ease-in-out 500ms;
}

.contatos i:active {
    font-size: 32px;
    color: #0052a5;
    transition: ease-in-out 500ms;
}


.contato-item {
    padding: 2px;
}

.contato-item p {
    font-weight: bold;
    font-size: 16px;
}

.contato-item .email {
    font-size: 12px;
    color: rgb(220, 220, 220);
}

/* MEDIA QUERIES */

@media (max-width: 768px) {
    h1 {
        font-size: 3rem;
    }
    
    .container-ref {
        padding: 0.8rem;
    }
    
    .container-ref ul{
        font-size: 1.1rem;
    }
    
    .navigation a {
        font-size: 0.9rem;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 2.6rem;
    }
    
    .container-ref {
        width: 90%;
        padding: 0.5rem;
    }
    
    .contato-item p {
        font-size: 14px;
    }
    
    .container-ref ul{
        font-size: 1rem;
    }
}

@media (min-width: 410px) {
    .img-senai{
        width: 125px;
    }

    .navigation a{
        font-size: 1rem;
    }
    .div-header{
        padding-right: 15px;
    }
}

@media (min-width: 435px) {
    .img-senai{
        width: 130px;
    }

    .navigation a{
        font-size: 1.1rem;
    }
    .div-header{
        padding-right: 20px;
    }
}