@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
}
body p {
    font-family: "Alegreya Sans";

}
/* MAIN */
main {
    margin-top: 5rem;
}

/* HEADER */
.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    top: 0;
    z-index: 1000;
    padding: 0 1rem;
}

.img-senai {
    width: 120px;
    height: auto;
}

.navigation nav {
    display: flex;
    gap: 12px;
}

.navigation a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
}

.linha-embaixo {
    display: inline-block;
    border-bottom: 2px solid #303030;
}

/* TÍTULO */
.div-titulo {
    margin-top: 6.5rem;
    text-align: center;
    background-color: #edede9;
    padding: 20px 10px;
}

/* IMAGEM DESTACADA */
.imagem1 {
    display: flex;
    justify-content: center;
    margin: 10px 0 0.5rem 0;
}

.imagem1 img {
    border-radius: 15px;
    width: 100%;
    max-width: 320px;
    height: auto;
}

/* HERO */
.hero {
    text-align: center;
    padding: 30px 15px;
    background: #ECEFF4;
}

.hero h1 {
    margin-bottom: 15px;
}

.hero-img {
    max-width: 300px;
    width: 100%;
    margin: 15px auto;
    display: block;
}

.hero p {
    max-width: 600px;
    margin: 0 auto;
}

/* SOBRE */
.sobre {
    display: flex;
    gap: 20px;
    padding: 40px 20px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
}

.sobre-img img {
    max-width: 250px;
    width: 100%;
    border-radius: 10px;
    height: auto;
}

.sobre-texto {
    max-width: 600px;
    width: 100%;
}

/* ESPECIFICAÇÕES / APLICAÇÕES */
.especificacoes,
.aplicacoes {
    padding: 40px 20px;
    text-align: center;
    background: #fff;
}

.especificacoes h2,
.aplicacoes h2 {
    margin-bottom: 25px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
}

.card {
    background: #F1F5F9;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.card i {
    font-size: 30px;
    display: block;
    margin-bottom: 10px;
    color: #0070c9;
}

/* CONTATOS (FOOTER) */
.contatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    gap: 1.3rem;
    text-align: center;
    padding: 1.5rem;
    background-color: #212121;
    color: white;
}

.contatos i {
    font-size: 30px;
    color: #0066cc;
    transition: all 250ms ease-in-out;
}

.contatos i:hover {
    transform: scale(1.1);
    color: #0052a5;
}

.contato-item {
    padding: 4px;
}

.contato-item p {
    font-weight: bold;
    font-size: 1rem;
}

.contato-item .email {
    font-size: 0.85rem;
    color: rgb(220, 220, 220);
}

/* RESPONSIVIDADE */
@media (min-width: 768px) {

    .hero h1 {
        font-size: 2rem;
    }

    .sobre {
        flex-wrap: nowrap;
        text-align: left;
    }

    .sobre-texto {
        padding-left: 20px;
    }
}

@media (min-width: 900px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .card{
        padding: 5px;
        gap: 5px
    }
}

@media (min-width: 410px) {
    .navigation a{
        font-size: 1rem;
    }
    .div-header{
        padding-right: 15px;
    }
}

@media (min-width: 440px) {
    .img-senai img{
        width: 100px;
    }

    .navigation a{
        font-size: 1.1rem;
    }
    .div-header{
        padding-right: 20px;
    }
}