@import url('https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;500;600;700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Cossette+Texte:wght@400;700&family=Mate:ital@0;1&family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap');


/* "Cossette Texte, Merriweather Sans, Mate, , " */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
body {
    background-color: #fff;
    font-family: "Montserrat", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

main p{
    font-family: "Alegreya Sans";
}

/* HEADER */
.div-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: 1px 1px 5px black;
    top: 0;
    z-index: 1000;
    padding: 0 1rem;
}

.img-senai {
    width: 120px;
    height: auto;
}

.navigation nav {
    display: flex;
    gap: 12px;
}

.navigation a {
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    color: black;
    font-size: 0.95rem;
}

.linha-embaixo {
    display: inline-block;
    border-bottom: 2px solid #303030;
}

/* TÍTULO E VIDEO */
.div-titulo {
    position: relative;
    min-height: 500px;
    margin-top: 75px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.div-titulo .title.second{
    margin-top: 7rem;
}

.div-titulo .hero-text{
    text-align: center;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.video video {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.div-titulo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7); 
    z-index: 2;
}

.div-titulo section {
    position: relative;
    z-index: 3;
    padding: 15px;
}

.div-titulo section .texto-baixo {
    margin-top: 4rem;
    font-size: 1.8rem;
}

.div-titulo section p {
    text-align: justify;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 1rem;
}


.robot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;
    padding: 25px;
    border-radius: 16px;
    margin: 2rem auto;
    width: 95%;
    max-width: 1000px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: transform 0.3s ease;
    text-align: left;
    background-color: #f1f5f9;
}

.robot-card h2{
    text-align: center;
}

.robot-card.alternate {
    background-color: #e4e7ec;
}

.robot-card:hover {
    transform: translateY(-6px);
}

.robot-text h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-family: "Merriweather Sans";
}

.robot-text p {
    font-size: 1rem;
    line-height: 1.5;
}

.robot-img img {
    width: 250px;
    height: auto;
    max-height: 200px;
    border-radius: 12px;
    object-fit: contain;
    transition: transform 0.3s;
}

.robot-img img:hover {
    transform: scale(1.05);
}

/* CONTATOS */
.contatos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.3rem;
    text-align: center;
    padding: 1.1rem;
    background-color: #212121;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.contatos i {
    font-size: 30px;    
    color: #0066cc; 
}   
    
.contatos i:hover { 
    font-size: 32px;    
    color: #0052a5; 
    transition: ease-in-out 500ms;  
}   

.contatos i:active {
    font-size: 32px;
    color: #0052a5;
    transition: ease-in-out 500ms;
}


.contato-item {
    padding: 2px;
}

.contato-item p {
    font-weight: bold;
    font-size: 16px;
}

.contato-item .email {
    font-size: 12px;
    color: rgb(220, 220, 220);
} 
/* MEDIA QUERIES */

@media (min-width: 410px) {
    .navigation a{
        font-size: 1rem;
    }
    .div-header{
        padding-right: 15px;
    }
}

@media (min-width: 440px) {
    .navigation a{
        font-size: 1.1rem;
    }
    .div-header{
        padding-right: 20px;
    }
    .img-senai{
        width: 125px;
    }
}

@media (min-width: 600px) {
    .robot-card.alternate,
    .robot-card{
        flex-direction: row;
        justify-content: space-between;
    }

    .div-titulo{
        height: 700px;
    }

    .div-titulo title {
        font-size: 2.2rem;
        
    }

    .div-titulo section p {
        font-size: 1.1rem;
    }
}